

#intro {
  text-align: center;
}

#overview .examples {
	padding-top: 0;
}

#overview .examples h4 {
  margin-top:0;
}

#overview .examples .example {
  margin-bottom:20px;
  overflow:auto;
}

#overview .examples .example:last-child {
  margin-bottom:0;
  overflow:auto;
}

#overview .examples .example figure {
  float: left;
  margin: 15px 0 0 0;
  margin-right:5px;
}
#overview .examples .example article {
  float: left;
}

#overview .examples .example p {
  display: inline-block;
}

#overview .examples .example figure img {
  border-radius: 100px;
  max-width: 100px;
  height: auto;
}

.example {
  clear: both;
}

#make {
  margin-top: 23px;
}


}
/*  AUTHOR TOOLS  */

.connector {
  position: relative;
  top: -5px;
}

#nav ol li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

#left h3 {
  text-align: left;
}

#code {
  display: none;
}

pre {
  background-color: white !important;
  text-align: center !important;
}

textarea {
  width: 100% !important;
  height: auto !important;
  font-family: Menlo, Monaco, "Courier New", Courier, monospace !important;
  background-color: white !important;
  cursor: auto !important;
  resize: none !important;
  overflow: auto !important;
}

#times {
  text-align: center;
}

input::-webkit-input-placeholder {
  font-size: 14px;
}
input:-moz-placeholder {
  font-size: 14px;
}
input:-ms-input-placeholder {
  font-size: 14px;
}

#player {
  display: none;
}

#creation_box{
  display: none;
}

#creation_box h3 {
  text-align: center;
}

.urlBox {
  width: 80%;
  font-size: 14px;
}