{% extends "base.html" %}

{% block content %}
<div id="intro" class="hero-unit">
  <div class="row-fluid">
    <hgroup>
      <h1 class="logo-mark xl">SoundCite<span><em>JS</em></span></h1>
        <p class="lead">Making inline audio easy and seamless</p>
        <p><a href="creator.html" class="btn btn-large btn-success">Make a clip now</a></p>
    </hgroup>
  </div>
</div>
  <div id="overview">
      <h1>Finally embedding audio is easy</h1>
      <p class="lead">Audio clips force uncomfortable choices: either reads or listen but not both. Until now.</p>
      <p>Audio is powerful device that can add emotion or context to a story. SoundCite is simple-to-use tool that lets you add audio to your story. The audio is not isolated, it plays right under the text you choose. SoundCite is currently in an <a href="http://github.com/NUKnightLab/soundcite">alpha, pre-release stage</a>.</p>
  </div>

  <div class="examples well row-fluid">
     <header>
       <h2>Examples</h2>
     </header>
     <div class="example">
       <figure class="span2">
         <a href="examples-music.html"><img src="./static/img/sc-music-tameimpala.jpg" alt="Tame Impala"></a>
       </figure>
       <article class="span10">
         <h5>Music</h5>
         <p>Tame Impala have never shied away from the sounds of classic rock radio, but "Elephant" is the first time they've gone deep into its mythology and symbolism. <!-- The first official single from their sophomore LP, <em>Lonerism</em>, --> ... [It] initially sounds like a pure top-down songwriting exercise- as in, "let's try to sound like the song's badass title." So, <span class="soundcite" data-id="55728529" data-start="1" data-end="4820">thick, one-note guitar riffs</span> shuffle and stomp ... <!-- with a heavy beat.--></p>
       </article>
     </div>
     <div class="example">
       <figure class="span2">
         <a href="examples-spokenword.html"><img src="./static/img/sc-spokenword-911delay.jpg" alt="Stephanie Hooks"></a>
       </figure>
       <article class="span10">
         <h5>Spoken Word</h5>
         <p>Stephanie Hooks pleaded for help after collapsing on the floor of her South Los Angeles home: <span class="soundcite" data-id="61188346" data-start="175796" data-end="177000">"I can't breathe... .</span> Help me breathe!" the 53-year-old grandmother wailed as frantic family members took turns on the phone with a Los Angeles Fire Department dispatcher...</p>
       </article>
     </div>
     <div class="example">
       <figure class="span2">
         <a href="examples-naturalsound.html"><img src="./static/img/sc-naturalsound-protest.jpg" alt="Protest"></a>
       </figure>
       <article class="span10">
         <h5>Natural Sound</h5>
         <p>Tens of thousands of Egyptians packed into Tahrir Square in central Cairo on Friday ... <span class="soundcite" data-id="34598716" data-start="72436" data-end="81701">The crowd was as large</span> as any that has gathered in the square since the protests that forced out President Hosni Mubarak in February 2011. <!-- Even more unusual in the increasingly polarized political climate, Islamists, liberals and leftists all found common ground on at least one front: the demand that the generals, who took power with Mr. Mubarak's ouster, finally give it up. --></p>
       </article>
     </div>
   </div>



  <div id="qa" class="row-fluid">
    <h2>Questions &amp; Answers</h2>
    <div>
      <h4>Do I need to know &lt;code&gt; to use SoundCite?</h4>
      <p>Absolutely not. SoundCite is friction-free. If you can record audio, upload it to <a href="http://soundcloud.com" target="_blank">soundcloud.com</a> you are ready to use SoundCite.</p>
    </div>
    <div>
      <h4>Can I customize what SoundCite looks like?</h4>
      <p>SoundCite is designed to work with virtually any site or theme design. But if you want to change the size, color or shading you'll be able to modify the stylesheets to do so ... soon.</p>
    </div>
    <div>
      <h4>Can I use an audio source other than SoundCloud?</h4>
      <p>We're working on this too. Hopefully we can start expanding the potential sources soon.</p>
    </div>
    <div>
      <h4>Can I help build new features for SoundCite?</h4>
      <p>Absolutely. <a href="http://www.github.com/NUKnightLab/soundcite" target="_blank">Fork the project</a> and get involved. <a href="http://twitter.com/euphonos" target="_blank">Send us feedback</a>. Help us make SoundCite the tool you need and want it to be.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div>
      <h2>About SoundCite</h2>
      <p>SoundCite is one of the Northwestern University's Knight Lab tool's for content creators. It was created by Medill student <a href="http://www.twitter.com/euphonos/">Tyler Fisher</a> and Medill Asst. Professor <a href="http://www.twitter.com/jeremygilbert/">Jeremy Gilbert</a>.</p>
      </div>
  </div>

{% endblock %}
