{% extends "base.html" %}

{% block content %}
<div id="intro" class="hero-unit">
  <h1 class="logo-mark xl">SoundCite<span><em>JS</em></span></h1>
  <p class="lead">Making inline audio easy and seamless</p>
  <p><a href="creator.html" class="btn btn-large btn-success">Make a clip now</a></p>
</div>
<div id="overview">
  <h1>Finally embedding audio is easy</h1>
  <p>Audio clips force uncomfortable choices: either reads or listen but not both. Until now.</p>
  <p>Audio is powerful device that can add emotion or context to a story. SoundCite is simple-to-use tool that lets you add audio to your story. The audio is not isolated, it plays right under the text you choose. SoundCite is currently in an <a href="http://github.com/NUKnightLab/soundcite">alpha, pre-release stage</a>.</p>
</div>
<div id="examples" class="well">
  <h2>Examples</h2>
  <div class="example row-fluid">
    <figure class="span2">
      <a href="examples-music.html"><img src="./static/img/sc-music-tameimpala.jpg" alt="Tame Impala"></a>
    </figure>
    <!-- NOTE: These columns do not add up to 12 because the Bootstrap 'well's' padding isn't taking into account by the responsive grid. -->
    <article class="span9">
       <h5>Music</h5>
       <p>Tame Impala have never shied away from the sounds of classic rock radio, but "Elephant" is the first time they've gone deep into its mythology and symbolism. <!-- The first official single from their sophomore LP, <em>Lonerism</em>, --> ... [It] initially sounds like a pure top-down songwriting exercise- as in, "let's try to sound like the song's badass title." So, <span class="soundcite" data-id="55728529" data-start="1" data-end="4820">thick, one-note guitar riffs</span> shuffle and stomp ... <!-- with a heavy beat.--></p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <a href="examples-spokenword.html"><img src="./static/img/sc-spokenword-911delay.jpg" alt="Stephanie Hooks"></a>
    </figure>
    <article class="span9">
      <h5>Spoken Word</h5>
      <p>Stephanie Hooks pleaded for help after collapsing on the floor of her South Los Angeles home: <span class="soundcite" data-id="61188346" data-start="175796" data-end="177000">"I can't breathe... .</span> Help me breathe!" the 53-year-old grandmother wailed as frantic family members took turns on the phone with a Los Angeles Fire Department dispatcher...</p>
    </article>
  </div>
  <div class="example row-fluid">
    <figure class="span2">
      <a href="examples-naturalsound.html"><img src="./static/img/sc-naturalsound-protest.jpg" alt="Protest"></a>
    </figure>
    <article class="span9">
      <h5>Natural Sound</h5>
      <p>Tens of thousands of Egyptians packed into Tahrir Square in central Cairo on Friday ... <span class="soundcite" data-id="34598716" data-start="72436" data-end="81701">The crowd was as large</span> as any that has gathered in the square since the protests that forced out President Hosni Mubarak in February 2011. <!-- Even more unusual in the increasingly polarized political climate, Islamists, liberals and leftists all found common ground on at least one front: the demand that the generals, who took power with Mr. Mubarak's ouster, finally give it up. --></p>
    </article>
  </div>
  <div class="getStarted">
    <h3>Ready to get started?</h3>
    <p><a href="creator.html" class="btn btn-large btn-success">Make a clip now</a></p>
  </div>
</div>
<div id="walkthrough">
  <h2>Creating Your Clip</h2>
  <div class="step row">
    <h2 class="span1">1</h2>
    <div class="span11">
      <h4>Find your SoundCloud sound</h4>
      <p>Find the sound you want to clip from <a href="http://www.soundcloud.com">SoundCloud</a> and copy its URL.</p>
      <img class="img-rounded img-polaroid" src="./static/img/screenshots/copy-url.png" width="460">
      <p>Paste it into the box on the <a href="creator.html">clip creation page.</a></p>
      <img class="img-rounded img-polaroid" src="./static/img/screenshots/paste-url.png" width="757">
    </div>
  </div>
  <div class="step row">
    <h2 class="span1">2</h2>
    <div class="span11">
      <h4>Set start and end points</h4>
      <p>Play through the sound and find the section you want to clip. At the start of your clip, click the start button to set the start point. At the end of your clip, click the end button to set the end point.</p>
      <img class="img-rounded img-polaroid" src="./static/img/screenshots/start-end.png" width="785">
    </div>
  </div>
  <div class="step row">
    <h2 class="span1">3</h2>
    <div class="span11">
      <h4>Paste your text</h4>
      <p>Paste the text you want to link to your clip in the third box of the Clip Creator.</p>
      <img class="img-rounded img-polaroid" src="./static/img/screenshots/paste-text.png" width="785">
    </div>
  </div>
  <div class="step row">
    <h2 class="span1">4</h2>
    <div class="span11">
      <h4>Create your clip</h4>
      <p>Click create clip to see a preview of your clip. Repeat steps 3-5 to create more clips from this sound. Use the delete button to remove clips that you do not want.</p>
      <img class="img-rounded img-polaroid" src="./static/img/screenshots/create-clip.png" width="785">
    </div>
  </div>
  <h2>Embedding Your Clip</h2>
  <div class="step row">
    <h2 class="span1">1</h2>
    <div class="span11">
      <h4>Embed the header code</h4>
      <p>In the left column of the <a href="creator.html">Clip Creator</a>, copy the header embed code and paste it in the top of your post in your CMS. You only need to do this once per post.</p>
      <img class="img-rounded img-polaroid" src="./static/img/screenshots/header-embed.png" width="388">
    </div>
  </div>
  <div class="step row last">
    <h2 class="span1">2</h2>
    <div class="span11">
      <h4>Embed each clip</h4>
      <p>For each clip created, copy its embed code and paste it where the text belongs in your post.</p>
      <img class="img-rounded img-polaroid" src="./static/img/screenshots/clip-embed.png" width="785">
    </div>
  </div>
</div>
<div id="qa" class="accordion">
  <h2>Questions &amp; Answers</h2>
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#qaOne">
          Do I need to know &lt;code&gt; to use SoundCite?
        </a>
      </div>
      <div id="qaOne" class="accordion-body collapse">
        <div class="accordion-inner">
          Absolutely not. SoundCite is friction-free. If you can record audio, upload it to <a href="http://soundcloud.com" target="_blank">soundcloud.com</a> you are ready to use SoundCite.
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#qaTwo">
          Can I customize what SoundCite looks like?
        </a>
      </div>
      <div id="qaTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          SoundCite is designed to work with virtually any site or theme design. But if you want to change the size, color or shading you'll be able to modify the stylesheets to do so ... soon.
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#qaThree">
          Can I use an audio source other than SoundCloud?
        </a>
      </div>
      <div id="qaThree" class="accordion-body collapse">
        <div class="accordion-inner">
          We're working on this too. Hopefully we can start expanding the potential sources soon.
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#qaFour">
          Can I help build new features for SoundCite?
        </a>
      </div>
      <div id="qaFour" class="accordion-body collapse">
        <div class="accordion-inner">
          Absolutely. <a href="http://www.github.com/NUKnightLab/soundcite" target="_blank">Fork the project</a> and get involved. <a href="http://twitter.com/euphonos" target="_blank">Send us feedback</a>. Help us make SoundCite the tool you need and want it to be.
        </div>
      </div>
    </div>
  </div>
</div>
<div id="about">
    <h2>About SoundCite</h2>
    <p>SoundCite is one of the Northwestern University's Knight Lab tool's for content creators. It was created by Medill student <a href="http://www.twitter.com/euphonos/">Tyler Fisher</a> and Medill Asst. Professor <a href="http://www.twitter.com/jeremygilbert/">Jeremy Gilbert</a>.</p>
</div>

{% endblock %}
